* {
    box-sizing: border-box;
    scrollbar-width: none; 
    margin: 0;
    padding: 0;
}

:root {
    --title: 1.5rem;
    --text: 1rem;
    --sm-text: 0.875rem;

    --lineheight: 150%;
}

body {
    font-family: 'Figtree', serif;
    background-color: #F4D04E;
}

main {
    margin: 0 auto;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.card {
    width: 384px;
    border: 1px solid #111111;
    border-radius: 1.25rem;
    box-shadow: 8px 8px 0 #111111;
    line-height: var(--lineheight);
    background-color: #ffffff;
    transition: 0.6s;
}

.card:hover {
    box-shadow: 16px 16px 0 #111111;
    transition: 0.6s;
}

.card:hover .card__title {
    color: #F4D04E;
    transition: 0.6s;
}

.card__inner {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1.5rem;
}

.card__preview {
    display: block;
    width: 100%;
    height: fit-content;
    border-radius: 0.625rem;
}

.card__preview--inner {
    padding-bottom: 1.5rem;
}

.theme__banner {
    width: fit-content;
    background-color: #F4D04E;
    border-radius: 0.25rem;
    font-weight: 800;
    line-height: var(--lineheight);
    font-size: clamp(0.75rem, 0.97vw, 0.875rem);
}

.theme__banner--inner {
    padding: 0.25rem 0.75rem;
}

.publish-time__text {
    font-size: clamp(0.75rem, 0.97vw, 0.875rem);
    font-weight: 500;
    line-height: var(--lineheight);
}

.publish-time__text--inner {
    padding: 0.75rem 0 0.75rem 0;
}

.card__title {
    font-size: var(--title);
    font-weight: 800;
    line-height: var(--lineheight);
    padding-bottom: 0.75rem;
    transition: 0.6s;
    font-size: clamp(1.25rem, 1.67vw, 1.5rem);
}

.card__text {
    font-weight: 500;
    color: #6B6B6B;
    line-height: var(--lineheight);
    padding-bottom: 1.5rem;
    font-size: clamp(0.875rem, 1.11vw, 1rem);
}

.sign__inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
}

.sign__picture {
    width: 32px;
    height: 32px;
}

.sign__author {
    font-size: clamp(0.75rem, 0.97vw, 0.875rem);
    font-weight: 800;
}

@media (max-width: 376px) {
    .card {
        width: 327px;
        border: 1px solid #111111;
        border-radius: 1.25rem;
        box-shadow: 8px 8px 0 #111111;
        line-height: var(--lineheight);
        background-color: #ffffff;
        transition: 0.6s;
    }
}