* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --title: 1.5rem;
    --text: 1rem;
    --sm-text: 0.875rem;

    --lineheight: 150%;
}

body {
    font-family: 'Figtree', serif;
    
}

main {
    margin: 0 auto;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.card {
    width: 384px;
    border: 1px solid #111111;
    border-radius: 1.25rem;
    box-shadow: 8px 8px 0 #111111;
    line-height: var(--lineheight);
}

.card__inner {
    display: flex;
    flex-direction: column;
    padding: 1.25rem 1.25rem;
}

.card__preview {
    width: 100%;
    border-radius: 1.25rem;
    /* padding-bottom: 1.25rem; */
}

.theme__banner {
    width: fit-content;
    background-color: #F4D04E;
    border-radius: 0.25rem;
}

.theme__banner--inner {
    padding: 0.25rem 0.75rem;
}

.publish-time__text {

}